.cards {
  list-style: none;
  max-width: 620px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .cards {
    max-width: 319px;
  }
}

@media screen and (max-width: 340px) {
  .cards {
    width: 90%;
  }
}