.cards__image_type_small {
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 650px) {
  .cards__image_type_small {
    width: 305px;
    height: 180px;
  }
}

@media screen and (max-width: 340px) {
  .cards__image_type_small {
    width: 100%;
  }
}