.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .footer__contacts {
    flex-direction: column;
  }
}