.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  max-width: 358px;
  width: 100%;
  padding: 0;
  padding-bottom: 13px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 15px;
}

.form__input:focus {
  outline: none;
}

.form__input:last-of-type {
  margin-bottom: 35px;
}

@media screen and (max-width: 650px) {
  .form__input {
    max-width: 238px;
  }
}